@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #0047AB;
    --text-color: #ffffff;
    --text-color-alt: #0a0a0a;
    --hover-color: #005ce6;
}

body {
    background: var(--text-color);
}
/* CUSTOM BUTTONS */
.main-btn {
    background: var(--main-color);
    color: var(--text-color);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-btn:hover {
    background: var(--hover-color);
}

/* CUSTOM BUTTONS */


/* SIDEBAR ----------------------------------------------------------------- */
.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    transition: transform 0.3s ease;
    z-index: 1050;
}

/* LOGO */
.sidebar-logo {
    width: 70px;
}

/* Close button */
.sidebar-close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* MENU */
.sidebar-menu .nav-link {
    color: var(--text-color);
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-menu .nav-link:hover,
.sidebar-menu .nav-link.active {
    background: #005ce6;
    color: var(--text-color);
}

/* SIDE BARFOOTER */
.sidebar-footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.sidebar-footer .logout {
    display: block;
    margin-top: 10px;
    color: var(--text-color-alt);
    text-decoration: none;
}

.sidebar-footer .logout:hover {
    color: var(--text-color);
}

/* Mobile behavior */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0);
    }
}

/* SIDEBAR ----------------------------------------------------------------- */
/* DASHBOARD ----------------------------------------------------------------- */
/* Main content spacing (for sidebar) */
.main-content {
    margin-left: 250px;
    background: var(--text-color);
    min-height: 100vh;
}

/* Cards */
.dashboard-card {
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease;
}

.dashboard-card h2 {
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: bold;
}

.dashboard-card p {
    margin: 0;
    font-size: 15px;
}

.dashboard-card:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px);
}

/* Responsive fix */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}

/* TABLE SECTIOJN */
/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

th {
    padding: 20px !important;
    border: none !important;
}

td {
    font-size: 14px;
}

.status {
    padding: 8px 8px;
    border-radius: 10px;
    width: 70px;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    color: var(--text-color);
}

.status.granted {
    background-color: #00c896;
}

.status.denied {
    background-color: #e40959;
}

.available {
    background-color: #e0f7ea;
    color: #00b894;
}

.unavailable {
    background-color: #fff3cd;
    color: #d39e00;
}

/* DASHBOARD ----------------------------------------------------------------- */
/* USER PAGE ----------------------------------------------------------------- */
/* Nav Pills Styling */
.custom-pill {
    color: #64748b !important;
    font-weight: 600;
    padding: 10px 20px !important;
    border-radius: 6px !important;
}

.custom-pill.active {
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
}

/* Stats Icons */
.stat-icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
/* USER PAGE ----------------------------------------------------------------- */
/* ROOMS PAGE ----------------------------------------------------------------- */
/* Search input */
.room-search {
    max-width: 300px;
}

/* Room Card */
.room-card {
    background: var(--text-color);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.filters {
    border-radius: 12px;
    padding: 25px;
}

.filter {
    padding: 12px 24px;
    border: 2px solid #e1e5e9;
    border-radius: 8px;
    background: white;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Left status bar */
.room-card.occupied {
    border-left: 6px solid #f59e0b;
}

.room-card.unoccupied {
    border-left: 6px solid #10b981;
}

/* Header */
.room-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.room-card h5 {
    font-weight: bold;
    margin: 0;
}

/* Responsive fix */
@media (max-width: 768px) {
    .room-search {
        max-width: 100%;
    }
}

/* ROOMS PAGE ----------------------------------------------------------------- */
/* ACCESS_LOGS PAGE ----------------------------------------------------------------- */

/* Container adjustments */
.main-content {
    background-color: #f8f9fa;
    min-height: 100vh;
}

/* Search Bar styling */
.search-container .form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

/* Custom Select styling */
.custom-select { 
    width: auto;
    min-width: 140px;
    border-radius: 8px;
}

.print {
    background: #28a745;
    color: var(--text-color);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.print:hover {
    background: #218838;
}

/* Filter Clear Button */
.btn-secondary {
    background-color: #6c757d;
    border-radius: 8px;
}

/* Table styling */
.table thead th {
    font-size: 0.9rem;
    padding: 15px !important;
    border-top: none;
}



.table tbody td {
    padding: 12px 15px;
    color: #444;
}

.status-badge {
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-block;
}

.status-granted {
    background-color: #d1e7dd;
    color: #198754;
    border: 1px solid #badbcc;
}

/* Responsive */
@media (max-width: 768px) {
    .custom-select {
        width: 100%;
    }
    
    .search-container {
        max-width: 100%;
    }
}
/* ACCESS_LOGS PAGE ----------------------------------------------------------------- */
/* SCHEDULE PAGE ----------------------------------------------------------------- */
.sched-thead th{
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
}
/* SCHEDULE PAGE ----------------------------------------------------------------- */